<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of items</th>
                </thead>
                <tbody>
                    {% for todo_list in todo_list_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' id=todo_list.id %}">{{ todo_list.name }}</a></td>
                        <td>{{ todo_list.items.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
